body {
	margin: 0;
	padding: 0;
	background: #000;
  background-image: url(img/bg.png);
  color: #fff;
  
}
.header-head {
	text-align: center;
}
.header-head h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	padding-top: 10px;
}
.header-head span {
	color: #fff;
}
.top {
	padding-top: 20px;
}

.top-item {
	text-align: center;
	padding: 10px;
  height: 100%; 
}
.top-item:hover a{
	display: block;
}
.top-item-info {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  box-sizing: border-box;
}
.top-item-info a {
	font-size: 25px;
	border: 1px #fff solid;
	padding: 0 40px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px; 
	transition: all .25s ease;
	display: none;
}

.top-item-info a:hover {
	background: #fff;
	color: #000;
}

.top-item-info p {
  color: #fff;
  font-size: 20px;
  margin: 0;
}
.price {
	color: #fff;
	font-size: 25px;
	font-weight: 100;

}

.description-text {
  text-align: center;
}
.description-text span {
  font-size: 23px;
  font-weight: 700;
}

.shipping-bottom {
  text-align: center;
  color: #fff;
  height: 25px;
}